:root{
    --black: rgb(0,0,0);
    --grey: rgb(170,170,170);
    --lightGrey: rgb(200,200,200);
    --darkGrey: rgb(50,50,50);
    --white: rgb(255,255,255);
}

body{
    background-color: var(--lightGrey);
}

#parrot{

    /* size and position */
    block-size: 300px;
    inline-size: 184px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    

    background:
        /* tail */
        linear-gradient(var(--grey), var(--grey)) 
            42px 180px / 30px 90px,
        radial-gradient(circle at 0 0, var(--grey) 29px, transparent 30px)
            42px 270px / 40px 60px,
        linear-gradient(var(--grey), var(--grey)) 
            52px 159px / 30px 90px,
        radial-gradient(circle at 0 center, var(--grey) 29px, transparent 30px)
            52px 220px / 30px 60px,

        /* head */
        radial-gradient(circle at 100% 100%, var(--grey) 69px, transparent 70px)
            82px 0 / 70px 70px,
        radial-gradient(circle at 0 100%, var(--black) 39px, transparent 40px)
            142px 8px / 40px 40px,
        radial-gradient(circle at 0 center, var(--black) 19px, transparent 20px)
            152px 27px / 20px 40px,
            
        /* branch */
        linear-gradient(var(--black), var(--black)) 
            0 170px / 160px 24px,
        linear-gradient(60deg, transparent 50%, var(--black) 50%) 
            100px 190px/ 40px 25px;

        background-repeat: no-repeat;
        }
    
    #parrot::before,
    #parrot::after {
          content: "";
          position: absolute;
          display: block;
        }

    #parrot::before{
        top: 60px;
        left: 42px;
        width: 110px;
        height: 130px;
        border-radius: 50px 0 100px 0;
        background: radial-gradient(var(--grey) 99px, transparent 100px)
            -106px -150px / 200px 200px,
        radial-gradient(var(--darkGrey) 99px, transparent 100px)
            -118px -116px / 200px 200px,
        radial-gradient(var(--white) 99px, transparent 100px)
            -118px -84px / 200px 200px;
        background-repeat: no-repeat;  
        background-color:var(--grey);
    }

    #parrot::after{
        width: 40px;
        height:80px;
        top: 0;
        left: 112px;
        background: radial-gradient(var(--white) 2px, transparent 3px)
                22px 22px / 6px 6px,
        radial-gradient(var(--black) 7px, transparent 8px)
                18px 18px / 16px 16px,
        radial-gradient(circle at 100% center, var(--white) 29px, transparent 29px)
                10px 0px / 30px 60px;
        background-repeat: no-repeat;
        background-color: var(--darkGrey);
        border-radius: 60px 0 0 60px; 
    }

