:root{
    --black: rgb(0,0,0);
    --grey: rgb(170,170,170);
    --lightGrey: rgb(200,200,200);
    --darkGrey: rgb(50,50,50);
    --white: rgb(255,255,255);
}

body{
    background-color: var(--lightGrey);
}

#parrot{
    
    /* size and position */
    block-size: 100vh;
    inline-size: 100vw;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

}