:root{
    --black: rgb(0,0,0);
    --grey: rgb(170,170,170);
    --lightGrey: rgb(200,200,200);
    --darkGrey: rgb(50,50,50);
    --white: rgb(255,255,255);
}

body{
    background-color: var(--lightGrey);
}

#parrot{

    /* size and position */
    block-size: 300px;
    inline-size: 184px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    

    background:
        /* tail */
        linear-gradient(var(--grey), var(--grey)) 
            42px 180px / 30px 90px,
        radial-gradient(circle at 0 0, var(--grey) 29px, transparent 30px)
            42px 270px / 40px 60px,
        linear-gradient(var(--grey), var(--grey)) 
            52px 159px / 30px 90px,
        radial-gradient(circle at 0 center, var(--grey) 29px, transparent 30px)
            52px 220px / 30px 60px,

        /* head */
        radial-gradient(circle at 100% 100%, var(--grey) 69px, transparent 70px)
            82px 0 / 70px 70px,
        radial-gradient(circle at 0 100%, var(--black) 39px, transparent 40px)
            142px 8px / 40px 40px,
        radial-gradient(circle at 0 center, var(--black) 19px, transparent 20px)
            152px 27px / 20px 40px,
            
        /* branch */
        linear-gradient(var(--black), var(--black)) 
            0 170px / 160px 24px,
        linear-gradient(60deg, transparent 50%, var(--black) calc(50% + 1px)) 
            100px 190px/ 40px 25px;

        background-repeat: no-repeat;
        }